<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_suprise">
    <application>
        <activity android:name=".SupriseActivity"></activity>
        <activity android:name=".SupriseDetailActivity"/>
    </application>
</manifest>